body {
  margin: 0;
  padding: 0;
}

.navbar {
  align-items: center;
  background-color: aqua;
  display: flex;
  height: 80px;
  width: 100%;
}

.burgermenu {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-decoration: none;
  
  i {
    background-color: black;
    border-radius: 2px;
    height: 4px;
    margin: 4px;
    width: 32px;
  }

  .open:nth-child(1) {
    transform: rotate(45deg) translateY(17px);
  }

  .open:nth-child(2) {
    opacity: 0;
  }

  .open:nth-child(3) {
    transform: rotate(-45deg) translateY(-17px);
  }

  .close:nth-child(1) {
    transform: rotate(0);
  }

  .close:nth-child(2) {
    opacity: 1;
  }

  .close:nth-child(3) {
    transform: rotate(0);
  }
}



.links {
    color: red;
   
    &:hover {
      color: blue;
    }
  }